@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caacupe+One&family=Cinzel+Decorative:wght@400;700;900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

:root {
    --background-color: #0F172A;
    --text-color: #F5F0E6;
    --secondary-color: #214270;
    --font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0 ;
    min-height: 100%;
}

h2 {
    font-family: "Cinzel Decorative";
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    color: var(--text-color);
}

main{
    margin: 10px 10px;
}

.header {
    font-family: "Cinzel Decorative";
    background: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    position: relative;
    z-index: 1000;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.about {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-text h2 {
    max-width: 600px;
    font-family: "Cinzel Decorative";
    text-align: left;
}

.formacoes{
    text-align: center;    
}

.formacoes p{
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    flex: 1;
    margin: 15px 100px;
}

.button {
    text-align: center;
    margin: 20px 0;
}

.button a {
    font-family: "Archivo Black";
    color: var(--text-color);
    text-decoration: none;
}

.button a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.contato {
    padding: 5px 0;
    text-align: center;
}

.footer{
    padding: 10px 0;
    background: var(--secondary-color);
    text-align: center;
    margin-top: auto;
}